<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.easybuy.dao.OrderMapper" >
  <resultMap id="OrderMap" type="Order" >
    <id column="id" property="id" />
    <result column="userId" property="userid"/>
    <result column="loginName" property="loginname"  />
    <result column="userAddress" property="useraddress"  />
    <result column="createTime" property="createtime" />
    <result column="cost" property="cost"  />
    <result column="serialNumber" property="serialnumber" />
    <collection property="orderDetailList" ofType="OrderDetail" resultMap="OrderDetailMap"></collection>
  </resultMap>
  <resultMap id="OrderDetailMap" type="OrderDetail" >
    <id column="id" property="dlid" />
    <result column="orderId" property="orderid" />
    <result column="productId" property="productid" />
    <result column="quantity" property="quantity" />
    <result column="cost" property="cost"/>
  </resultMap>
</mapper>